{% extends "AppBundle:Admin:base.html.twig" %}

{% block title %}AppBundle:Front:homepage{% endblock %}

{% block body %}


<h1>Admin area</h1>

<ul>
    <li><a href="{{ path("admin_users_index")}}"> User</a></li>
<ul>

{% endblock %}
