.form-group {
    width: 80%;
    padding-left: 20px;
}

.help-block {
    padding-left: 20px;
    margin-top: -10px;
    display: block;
}

.div-token {
     width: 60%;
     display: block;
}


td, th {
    padding-right: 140px;
    padding-bottom: 10px;
    text-align: right;
}
